* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}

body {
    background: url(../images/bg2.png) no-repeat fixed;
    background-size: cover;
}
h1 {
    margin-top: 150px;
    font-size: 80px;
    text-align: center;
    color: #fff;
}