* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}

body {
background-image: url(../images/bg.png);
/* 배경 이미지 반복 지정 */
background-repeat: no-repeat;
/* 가로 너비에 가득 찰 때까지 가로로 반복 */
/* background-repeat: repeat-x; */
/* 배경 이미지 위치 조정 */
/* background-position: (수평) (수직); */
/* background-position: left center; */
}
